{% extends "layout.html" %}
{% block title %}
    Responses
{% endblock %}
{% block content %}
    
    <form action="/responses" method="post">
        <div class="container mb-3">
            <h4>Question 1:</h4>
            <p>{{ questions[0] }}</p>
            <h4>Response 1:</h4>
            <p>{{ responses[0] }}</p>
            <h4>Question 2:</h4>
            <p>{{ questions[1] }}</p>
            <h4>Response 2:</h4>
            <p>{{ responses[1] }}</p>
            <h4>Question 3:</h4>
            <p>{{ questions[2] }}</p>
            <h4>Response 3:</h4>
            <p>{{ responses[2] }}</p>
        </div>

        <button class="btn btn-primary" type="submit">Print to G-sheet</button>

    </form>

{% endblock %}